.left, .right {
    width: 48%;
    height: 80vh;
    background-color: #202834;
    border-radius: 23px;
    border-left: 1px solid #fefefe;
    border-right: 1px solid #fefefe;
    position: relative;
    overflow: hidden;
}

.images {
    position: relative;
    width: 100%;
}

.images::before {
    content: "";
    width: 100%;
    height: 40px;
    background-color: black;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #202834, transparent);
    z-index: 70;
}

.left img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.left .imageLong {
    background-color: #30303b;
    object-fit: contain;
    height: 55vh;
}

.left .imageShort {
    background-color: #30303b;
    object-fit: contain;
    height: 50vh;
}



.wrapper h3 {
    margin-top: 10px;
    font-size: 2.5rem;
    text-align: center;
    word-break: break-all;

}

.wrapper span {
    padding: 2px 8px;
    border: 1px solid #2C2C34;
    border-radius: 5px;
    position: absolute;
    top: 6px;
    right: 13px;

    background-color: #2C2C34;
    font-size: 19px;
}

.wrapper .likes {
    font-weight: normal;
    padding: 2px 8px;
    border: 1px solid #2C2C34;
    border-radius: 10px;
    position: absolute;
    top: 6px;
    left: 13px;

    background-color: #2C2C34;
}

.likes.ordinary {
    color: #fff;
    font-weight: 400;
    font-size: 21px;
}

.likes.interesting {
    color: #148214;
    font-weight: 500;
    font-size: 25px;
}

.likes.popular {
    color: #d13636;
    font-weight: 600;
    font-size: 28px;
}

.btn {
    display: inline-block;

    margin: 15px 0;
    padding: 5px 10px;
    color: #2C2C34;
    background-color: #fff;
    border: 3px solid #2C2C34;
    border-radius: 17px;

    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    transition: ease 0.3s;

}

.btn:hover {
    color: #fff;
    background-color: #2C2C34;
    border: 1px solid #fff;
}


.right {
    padding: 10px;
    padding-top: 15px;
    overflow-y: scroll;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.right p {
    padding: 10px;
    font-size: 20px;
    text-align: justify;
    word-break: break-word;

}

.right::-webkit-scrollbar {
    width: 11.5px;
    background: #fff;
}

.right::-webkit-scrollbar-thumb {
    width: 100%;
    background: #282f4e;
    border-radius: 2em;
}

.right::-webkit-scrollbar-thumb:hover {
    background: #454f6b;
}