.form-box {
    z-index: 9;
    position: relative;
    top: 50%;
    left: 50%;
    transform : translate(-50%, 15%);
    width: 80%;
    height: 80vh;
    border: 10px solid #202834;
    border-radius: 5px;
    overflow: hidden;
}

.form-box h2 {
    width: 100%;
    padding: 20px;

    text-align: center;
    font-size: 3.5em;
    font-weight: 700;
    color: #fff;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}

.left,
.right {
    width: 40%;
    height: 60vh;
    position: unset;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: unset;
    border-radius: unset;
}


.field {
    background-color: #202834;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 55%;
    height: 16%;
    padding: 10px;
    border-bottom: 2px solid #eee;
    border-radius: 23px;
    margin-bottom: 0px;
}

.form-box .field:focus-within {
    border-bottom: 2px solid #0065ff;
    transition: 0.3s ease;
}


.form-box .field input {
    border: none;
    outline: none;
    background: none;
    width: 70%;
    font-size: 1.25em;
    padding-bottom: 5px;
    color: #fff;
}

.field .icon {
    color: #fefefe;
    font-size: 1.5em;
    margin-right: 10px;
    padding-bottom: 5px;
}

.field:focus-within .icon {
    color: #0065ff;
    transition: 0.3s ease;
}

::placeholder {
    color: #fff;
    font-size: 0.85em;
}
.radio.field input{
    width: 15%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
}
.radio.field p{
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 20px;

}
.radio.field label{
    font-size: 20px;
    margin-right: 10px;
}

.right .field{
    height: calc(85% + 82px);
    width: 70%;
    
}

textarea{
    width: 80%;
    height: 100%;
    padding: 5px 20px;
    border-radius: 23px;
    resize: none;  
}
textarea::placeholder{
    color: #2C2C34;
    font-size: 1em;
}

.btn {
    position: absolute;
    left: 50%;
    transform :translateX(-50%);
    display: inline-block;

    margin: 15px 0;
    padding: 5px 10px;
    color: #2C2C34;
    background-color: #fff;
    border: 3px solid #2C2C34;
    border-radius: 17px;

    font-size: 20px;
    text-align: justify;
    transition: ease 0.3s;
}

.btn:hover{
    color: #fff;
    background-color: #2C2C34;
    border: 1px solid #fff;
}


