.testimonials {
    background-color: #202834;
    color: #fff;
    padding: 50px 0px;
}

.table {
    justify-content: center;
    margin-left: 0px;
    width: 100%;
}
.title::before {
    content: "";
    background-color: #fff;
    width: 200px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px)
}

.title::after {
    content: "";
    background-color: #fff;
    width: 50px;
    height: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px)
}

