:root {
  --white-color: #fff;
  --dark-color: #222;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  position: relative;
  background-image: url(./assets/images/background-catalog/back1.jpg), url(./assets/images/background-catalog/back1.jpg);
}

main {
  position: relative;
}

::-webkit-scrollbar {
  width: 11.5px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color)
} 
section {
  position: relative;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(12, 3, 51, 0.3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  position: absolute;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  width: 80%;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  color: #fefefe;
}


header.sticky {
  height: calc(2.5rem + 1.5rem);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

